.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 200px;
  height: 120px;
}
.instagram {
  width: 40px;
  height: 40px;
}
.facebook {
  width: 40px;
  height: 40px;
}
.google {
  width: 40px;
  height: 40px;
}
